bin/
obj/
.vs/
.idea/
.vscode/

node_modules/
dist/
.vite/

venv/
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/

*.pyc
*.pyo
*.pyd
*.joblib
*.pkl
*.pickle
*.log

.env
.env.*

.DS_Store
Thumbs.db

*.tmp
*.temp
*.swp
*.swo